<mat-card class="mat-elevation-z10">
    <mat-card-content>
            <ng-template #recursiveList let-list>
                <div *ngFor="let item of contentItems">
                    <div *ngIf="item.children.length > 0">
                        <app-flex-container [data]=item></app-flex-container>
                    </div>
                </div>
            </ng-template>
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: contentItems }"></ng-container>
    </mat-card-content>
    <!-- <mat-card-actions>
        <div *ngIf="!isScreenSmall; else smallScreen">
            <div fxFlex fxLayoutAlign="start center">
                <button mat-button color="accent">
                    <mat-icon>first_page</mat-icon> Intro to CS
                </button>
            </div>
            <div fxFlex fxLayoutAlign="end center">
                <button mat-button color="accent">
                    Intro to C <mat-icon>last_page</mat-icon>
                </button>
            </div>
        </div>
        <ng-template #smallScreen>
            <div fxLayout="column">
                <div fxLayoutAlign="start center">
                    <button mat-button color="accent">
                        <mat-icon>first_page</mat-icon> Intro to CS
                    </button>
                </div>
                <div fxLayoutAlign="start center">
                    <button mat-button color="accent">
                        Intro to C <mat-icon>last_page</mat-icon>
                    </button>
                </div>
            </div>
        </ng-template>
    </mat-card-actions> -->
</mat-card>