<!-- <div
    class="container"
    cdkDropList
    id="editor"
    #matContent="cdkDropList"
    #element
    [cdkDropListData]="[canvasItems]"
    cdkDropListConnectedTo="dropTargetIds"
    (cdkDropListDropped)="drop($event)"
>

</div>
 -->

<!-- <ng-template #tmplNode let-node="node">
  <div class="node-item" [attr.data-id]="node.id" [attr.id]="'node-'+node.id">

    <div>
      <div *ngIf="node.children.length > 0">
        <div *ngFor="let chil of node.children">
          {{chil.id}} Test 2
        </div>
      </div>
    </div>


    <div 
      *ngIf="node.children.length"
      cdkDropList [cdkDropListData]="node.children"
      [id]="node.id"
      [cdkDropListConnectedTo]="dropTargetIds"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListSortingDisabled]="true"  
    >
      <div *ngFor="let child of node.children" cdkDrag [cdkDragData]="child.id"
        (cdkDragMoved)="dragMoved($event)">
          <ng-container *ngTemplateOutlet="tmplNode,context:{node:child}"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<div class="container" cdkDropList [cdkDropListData]="nodes"
  [id]="'main'" [cdkDropListConnectedTo]="dropTargetIds"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListSortingDisabled]="true">
  <div *ngFor="let node of nodes" cdkDrag [cdkDragData]="node.id" (cdkDragMoved)="dragMoved($event)" class="node-item" [attr.data-id]="node.id">
    {{node | json}} Test 1
    <ng-container *ngTemplateOutlet="tmplNode,context:{node:node}"></ng-container>
  </div>
</div> -->

<div 
  class="container"
  cdkDropList [cdkDropListData]="nodes"
  [id]="'main'" [cdkDropListConnectedTo]="dropTargetIds"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListSortingDisabled]="true"
>
<div *ngFor="let item of nodes"
cdkDrag [cdkDragData]="item.id" (cdkDragMoved)="dragMoved($event)" class="node-item" [attr.data-id]="item.id"
>
  <div style="padding: 10px;">
    {{item | json}}
  </div>
  
    <!-- <div *ngIf="item.children.length > 0"> -->
    <!-- </div> -->
</div>
  <!-- <ng-template #recursiveList let-list>
    <div *ngFor="let item of nodes"
    cdkDrag [cdkDragData]="item.id" (cdkDragMoved)="dragMoved($event)" class="node-item" [attr.data-id]="item.id"
    >
      {{item | json}}
        <div *ngIf="item.children.length > 0">
            <app-flex-container [data]=item></app-flex-container>
        </div>
    </div>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: nodes }"></ng-container> -->
</div>

<mat-card class="mat-elevation-z10">
  <mat-card-content>
          <ng-template #recursiveList let-list>
              <div *ngFor="let item of nodes">
                  <div *ngIf="item.children.length > 0">
                      {{item | json }}
                      <app-flex-container [data]=item></app-flex-container>
                  </div>
              </div>
          </ng-template>
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: nodes }"></ng-container>
  </mat-card-content>
