<div *ngIf="isAuthenticated && userFullName">
    Welcome {{userFullName}}!
    <button 
        mat-button 
        class="action-btn"
        (click)="logout()"
    >
        <mat-icon>logout</mat-icon>
        Logout
    </button>
    <button *ngIf="state == 'portfolio' || state == 'courses'"
        mat-button 
        class="action-btn"
        [routerLink]="['/dashboard']"
    >
        <mat-icon>code</mat-icon>
        User Dashboard
    </button>
    <button *ngIf="state == 'portfolio' || state == 'dashboard'"
        mat-button 
        class="action-btn"
        [routerLink]="['/courses']"
    >
        <mat-icon>code</mat-icon>
        Courses
    </button>
    <button *ngIf="state == 'courses' || state == 'dashboard'"
        mat-button 
        class="action-btn"
        [routerLink]="['/portfolio']"
    >
        <mat-icon>code</mat-icon>
        Portfolio
    </button>
</div>
<div *ngIf="!isAuthenticated">
    <button 
        mat-button 
        class="action-btn"
        [routerLink]="['/login']"
    >
        <mat-icon>login</mat-icon>
        Login
    </button>
</div>