<div *ngIf="isAuthenticated && userFullName">
    Welcome {{userFullName}}!
    <button 
        mat-button 
        class="action-btn"
        (click)="logout()"
    >
        <mat-icon>logout</mat-icon>
        Logout
    </button>
    <button 
        mat-button 
        class="action-btn"
        [routerLink]="['/dashboard']"
        [queryParams]="{state: 'dashboard'}"
    >
        <mat-icon>code</mat-icon>
        User Dashboard
    </button>
</div>
<div *ngIf="!isAuthenticated">
    <button 
        mat-button 
        class="action-btn"
        [routerLink]="['/login']"
    >
        <mat-icon>login</mat-icon>
        Login
    </button>
</div>