<mat-sidenav-container class="container">
    <mat-sidenav
        #sidenav
        class="sidenav mat-elevation-z10"
        [opened]="!isScreenSmall"
        [mode]="!isScreenSmall ? 'side' : 'over'"
    >
        <mat-toolbar
            color="primary">
            {{state | uppercase}}
        </mat-toolbar>
        <ng-template #recursiveList let-list>
            <mat-nav-list>
                <div *ngFor="let item of directory">
                    <div *ngIf="item.children.length > 0">
                        <app-list-container [data]=item></app-list-container>
                    </div>
                </div>   
            </mat-nav-list>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: directory }"></ng-container>
    </mat-sidenav>

    <div class="sidenav-content">
        <app-tool-bar (toggleSidenav)="sidenav.toggle()" [isScreenSmall]="!isScreenSmall"></app-tool-bar>
        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-sidenav-container>