<!-- <div id={{data.data.id}}>
    <div
    *ngIf="this.devMode"
    class="flex-container" 
    fxLayout="row"
>
<div *ngIf="this.devMode" class="container" fxLayout={{direction}} fxLayoutAlign={{layout}} fxLayoutGap={{padding}}>
    <ng-template appContainer></ng-template>
</div>
<div *ngIf="!this.devMode" class="container" fxLayout={{direction}} fxLayoutAlign={{layout}} fxLayoutGap={{padding}}>
    <ng-template appContainer></ng-template>
</div>
    <div fxFlex fxLayoutAlign="start center">
        <button mat-button color="accent" (click)="editElement()">
            <mat-icon>first_page</mat-icon> Edit
        </button>
    </div>
    <div fxFlex fxLayoutAlign="end center">
        <button mat-button color="accent" (click)="deleteElement()">
            Delete <mat-icon>last_page</mat-icon>
        </button>
    </div>
</div>
</div> -->

<div class="container" fxLayout={{direction}} fxLayoutAlign={{layout}} fxLayoutGap={{padding}}>

</div>