<mat-toolbar color="primary">
    <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
        <mat-icon>apps</mat-icon>
    </button>
    <span>Archives</span>
    <div *ngIf="isScreenSmall" fxFlex fxLayoutAlign="end center">
        <button mat-button class="action-btn">
            <mat-icon>login</mat-icon>
            Login
        </button>
        <button mat-button class="action-btn">
            <mat-icon>add_circle_outline</mat-icon>
            Signup
        </button>
    </div>
</mat-toolbar>